@model ScopeIndia.Models.NewUserModel
<div>
    @if (ViewBag.ValidEmail != null)
    {
        <h4 class="text-danger">@ViewBag.ValidEmail</h4>
    }
    @if (ViewBag.PasswordSuccess != null)
    {
        <h4 class="text-danger">@ViewBag.PasswordSuccess</h4>
    }
    @if (ViewBag.PasswordError != null)
    {
        <h4 class="text-danger">@ViewBag.PasswordError</h4>
    }
    @if (ViewBag.PasswordMatch != null)
    {
        <h4 class="text-danger">@ViewBag.PasswordMatch</h4>
    }
    <div class="text-center mt-5">
        <div class="container bg-success h-50 w-50  pb-3">
            <form asp-controller="WebHome" asp-action="ForgotPassword" method="post">
                <fieldset>
                    <legend>Forgot Password</legend>
                    <div>
                        <input asp-for="Email" hidden value="@ViewBag.Email" />
                        
                    </div>
                    <div>
                        <input asp-for="Password" type="password" class="form-control" />
                        <label asp-for="Password" class="form-label">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        <label asp-for="ConfirmPassword" class="form-label">Re-enter Password</label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <br />
                    <br />

                    <button type="submit">Change Password</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
}

